@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@attribute [Authorize]
@inject GraphServiceClient GraphClient

@if (photo == null)
{
    <p><em>Loading...</em></p>
}
else {

    if (image.Length < 1000) // image is small if user has not uploaded an image
    {
        <MudAvatar>
            <MudIcon Size=@PhotoSize Icon="@Icons.Material.Filled.Person" />
        </MudAvatar>
    }
    else
    {
        <MudAvatar Size=@PhotoSize Image="@($"data:image/png;base64,{image}")" />
    }

}

@code {

    private Stream? photo;
    private string? image;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            photo = await GraphClient.Me.Photo.Content.Request().GetAsync();
            image = Convert.ToBase64String((photo as MemoryStream).ToArray());
        }
        catch (ServiceException ex)
        {
            Console.WriteLine("Photo was not found");
        }

    }

    [Parameter]
    public MudBlazor.Size PhotoSize { get; set; } = Size.Medium; // Default size will be medium, otherwise specify another size when calling this component

}
